<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">

  <title>Sticky Footer Navbar Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Font : "Open Sans" by Google -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<div id="github-ribbon" class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/easymock/easymock">Fork me on GitHub</a>
  </div>
</div>

<div class="wrapper">

  {% include header.html %}

  {{content}}

</div>

{% include footer.html %}

<link rel="stylesheet" href="css/highlight.css">
<link rel="stylesheet" href="css/github-ribbon.min.css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/main.js"></script>

</body>
</html>
