# Eclipse
.project
.classpath
.settings
eclipse_config/

# Maven
target
*.versionsBackup
dependency-reduced-pom.xml

# IntelliJ
/.idea/
*.iml
/gen/

# Jekyll
/website/_site/

# Misc
*.patch
sys$command
