<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright 2006-2013 the original author or authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
  Describes an Android application with a single Instrumentation,
  which runs the Objenesis TCK.

  Author: Ian Parkinson, Google Inc.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.easymock.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="17" />

    <application android:allowBackup="false">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name=".AndroidTck"
        android:targetPackage="org.easymock.android">
    </instrumentation>
</manifest>