<div id="footer" >
  <div class="footer-top">
    <div class="quotations container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="10000">

            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner">

              <!-- Quote 1 -->
              <div class="item active">
                <blockquote>
                      <p>If the thought of writing all the mock object classes you might need is intimidating, look at EasyMock, a convenient Java API for creating mock objects dynamically.</p>
                      <small>Dave Thomas an Andy Hunt, The Pragmatic Programmers, in IEEE Software May/June 2002</small>
                </blockquote>
              </div>
              <!-- Quote 2 -->
              <div class="item">
                <blockquote>
                      <p>We were about to implement our own Mocking based on reflect.Proxy, but seems like you saved us lot of trouble.</p>
                      <small>Oren Gross, Mercury Interactive</small>
                </blockquote>
              </div>
              <!-- Quote 3 -->
              <div class="item">
                <blockquote>
                      <p>EasyMock can save a lot of legwork and make unit tests a lot faster to write.</p>
                      <small>builder.com Java E-Newsletter for October 21, 2002</small>
                </blockquote>
              </div>
              <!-- Quote 4 -->
              <div class="item">
                <blockquote>
                      <p>We just started to use EasyMock in an XP project and found that it eases writing our TestCases considerably. Moreover, it encourages us to make more frequent use of MockObjects leading to compositional and interface oriented designs. Not only is it well crafted and easy to use. It also enhances communication in the TestCase for it exposes the expected calls on the MockObject right where you need it.</p>
                      <small>Dierk Koenig, Canoo AG</small>
                </blockquote>
              </div>
              <!-- Quote 5 -->
              <div class="item">
                <blockquote>
                      <p>I have been using EasyMock to unit test some web-based classes without requiring the presence of the app server and I am very impressed. It is extremely easy to use and makes writing the unit tests a breeze - great job!</p>
                      <small>Robert Leftwich</small>
                </blockquote>
              </div>              
            </div>

          </div>                          
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container text-center">
      <small>© 2001-{{ site.time | date: '%Y' }} <a href="contributors.html">EasyMock contributors</a></small>
    </div>
  </div>
</div>
