
/* style for the visualization container */
#infovis {
    position:relative; /* Requirement for TreeMap */
    width:1000px;
    height:620px;
    margin:auto;
    background-color:#1d1d20;
}

#infovis div {
    position:absolute;
    overflow:hidden;
}

#infovis .content {
    background-color:#ddedff;
    border:0px solid #FFF;
}

#infovis .head {
    height:12px;
    color:black;
    border: 1px #dedede;
    cursor:pointer;
}

#infovis .head.in-path {
    background-color: bisque;
}

#infovis .body {
    background-color:white;
}

#infovis .leaf {
    color:black;
    background-color:#111;
    display:table-cell;
    vertical-align:middle;
    padding: 5px 0 0 5px;
}

#infovis .over-leaf {
    cursor:pointer;
    text-decoration:none;
}

#infovis .over-content {
    background-color: #ddedff;
}

#infovis .over-head {
    color:black;
    background-color:bisque;
    text-decoration:none;
}

/* tooltips style */
.tip {
    background-color: #ffffd3;
    color: black;
    border-right: #dcdcdc 2px solid;
    border-bottom: #dcdcdc 2px solid;
    font-size: 12px;
    z-index: 13000;

    padding:5px;
    position:absolute;
}

