<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>EasyMock: {{page.title}}</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="easymock.css" />
</head>
<body>
<div class="bodywidth">
    <h1><img src="img/easymock.gif" width="301" height="57" alt="EasyMock" /></h1>
{{ content }}
    <div class="contentbar">
        &copy; 2001-2014 <a href="mailto:lists@tammofreese.de">Tammo Freese</a> , <a href="http://blog.tremblay.pro">Henri Tremblay</a>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43110273-1', 'easymock.org');
  ga('send', 'pageview');

</script>
</body>
</html>