/*
 * PAGE: INDEX
 */

.disclaimer {
  padding-top: 90px;
  padding-bottom: 50px;
}

.disclaimer .logo {
  padding: 20px 0;
}


.disclaimer .btn {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 160px;
}

.disclaimer .btn-getting-started {
  border: 1px solid #003E7E;
  color: #003E7E;
}
.disclaimer .btn-getting-started:hover,
.disclaimer .btn-getting-started:focus {
  background-color: #003E7E;
  color: #ffffff;
}

.disclaimer .btn-download {
  border: 1px solid #AD1F2B;
  color: #AD1F2B;
}
.disclaimer .btn-download:hover,
.disclaimer .btn-download:focus {
  background-color: #AD1F2B;
  color: #ffffff;
}

.disclaimer small {
  color: #003E7E;
}

.statistics {
  padding: 30px 0;
}

.presentation {
  padding: 40px 0;
  background-color: #F8F8F8;
}
.presentation h2 {
  color : #003E7E;  
}
.presentation .lead {
  color : #AD1F2B;
}

/*
 * PAGE: RELEASE NOTES
 */

.releases {
  margin: 20px 0;
  padding: 0;
}

.release {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  min-height: 100px;
}

.release .release-version  {
  padding-top: 30px;
}
.release .release-version > span {
  background-color: #6E329D;
  padding: 30px;
  font-size: 1.1em;
  color: #ffffff;
}

.release .release-type {
  font-size: 1.5em;
  margin-top: 0;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 5px;
}

.changes {
  margin: 0;
  padding: 0;
}

.change {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/*
 * PAGE: GETTING STARTED
 */

/*
 * PAGE: DEVELOPER GUIDE
 */
.developer-guide .sidebar {
  padding-top: 20px;
}

.developer-guide .sidebar.affix {
  width: inherit; /* helped keep the content the same size on fluid layouts */
  position: fixed;
}
.developer-guide .sidebar.affix-top {
  width: inherit;
  position: fixed;
  top: auto;
}
.developer-guide .sidebar.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
}

.developer-guide .sidebar a {
  color: #003E7E;
  border-left: 5px solid #fff;
}
.developer-guide .sidebar a:focus,
.developer-guide .sidebar a:hover {
  color: #003E7E;
  border-left: 5px solid #003E7E;
  text-decoration: none;
  background-color: #fff;
}

.developer-guide .sidebar li.active > a,
.developer-guide .sidebar li.active > a:focus,
.developer-guide .sidebar li.active > a:hover {
  color: #AD1F2B;
  border-left: 5px solid #AD1F2B;
}
